$max-width: 100%;
$navbar--height: 5rem;
$box-shadow--1: rgba(17, 17, 26, 0.1) 0px 1px 0px;
$box-shadow--bottom: rgba(33, 35, 38, 0.1) 0px 10px 10px -10px;
$box-shadow--bottom--2: rgba(0, 0, 0, 0.15) 0px 3px 3px 0px;
$font--poppins: "Poppins", sans-serif;
$font--jost: "Jost", sans-serif;
$padding-1: 0.5rem 1rem;
$padding-2: 0.25rem 0.5rem;
$padding-top: 0.45rem 0;
$padding-main: 0.5rem 0.75rem;

// fonts
$font-size-small: 12px;
$font-size-normal: 14px;
$font-size-medium: 16px;
$font-size-large: 18px;
$font-size-heading: 24px;
$font-size-subheading: 36px;
$font-size-title: 48px;
